<div class="col-md-12 main-menu-bar">
    <div class="menu-button" id="home-button" ui-sref="app.home"><span id="juliahentz">julia<span id="hentz">hentz</span></span></div>
    <!--<div class="navigation-burger-icon"><div class="menu-button"><div class="icons"><div class="icon-menu"></div></div></div></div>-->

    <div class="nav-bar-buttons">
        <a ui-sref="app.home">Home</a>
        <a ui-sref="app.projects">Projects</a>
        <a ui-sref="app.about">About</a>
        <a ui-sref="app.contact">Contact</a>
    </div>

</div>

<div class="side-menu side-menu-hide">

    <div class="side-menu-container">

        <div class="side-menu-button" role="group">
        </div>


    </div>

</div>
