<div class="col-md-12">
    <div class="home-content-wrapper">
        <img src="/images/cover.jpg">
        <div class="main-text">
            <h6>The space where</h6>
            <h5>Design and Development</h5>
            <h6>meets for You</h6>
            <h7>#beYOUnique</h7>
        </div>

        <div class="left-block">
            <br/>
            <p class="title">You have <br> a <b>great</b> idea <br> <em>but</em> <br> you don't know <br> how to <b>describe</b> it?</p>
            <br/>
            <hr/>
            <br/>
            <p class="title" id="title2">You tried explaining<br> <b>your</b> vision <br> <em>but</em> <br> no one <br> seems to <b>get</b> it?</p>
            <br/>
        </div>
        <div class="right-block">
            <br/>
            <p class="title"><b>Stop</b> searching! <br><br> I will <b>discover</b> <br> what you wish for,<br> no <em>"but"s,</em> <br> no confusion!</p>
            <br/>
        </div>

        <img src="/images/code.jpg">

    </div>
</div>




