.home-content-wrapper{
    margin:0;

    img{
        width: 100%;
        -webkit-clip-path: polygon(0 0, 100vw 0, 100vw 87%, 0 100%);
        clip-path: polygon(0 0, 100vw 0, 100vw 87%, 0 100%);
    }

    .main-text{
        overflow: hidden;
        h5{
            font-size: 5vw;
            font-weight: 100;
            color: white;
            padding-top: 2vw;
        }
        h6{
            font-size: 3vw;
            font-weight:100;
            color: white;
        }
        h7{
            color: white;
            font-size: 1em;
            font-weight: 100;
        }

        top: 13vw;
        position: absolute;
        width: 100%;
        text-align: center;
    }

    .main-content{
        z-index: 1000;

        .left-block{
            width: 41vw;
            margin-left: 7vw;
            background-color: white;
            position: relative;
            top:-14vw;
            margin-bottom: -18vw;
            z-index: 100;

            .title{
                margin-left: 3vw;
                margin-right: 3vw;
                font-weight: 200;
                font-size: 2.5vw;
                letter-spacing: 2px;
                color: #220e1a;

            }

            #title2{
                text-align: right;
            }

        }

        .right-block{
            width: 41vw;
            margin-right: 7vw;
            background-color: #220e1a;
            position: relative;
            top:-31vw;
            float: right;
            margin-bottom: -400px;
            z-index: 100;

            .title{
                margin-left: 3vw;
                margin-right: 3vw;
                font-weight: 200;
                font-size: 2.5vw;
                letter-spacing: 2px;
                color: white;
                text-align: right;
            }
        }

        .end-page-links{
            padding-top: 40px;
            overflow: visible;

            .circle-logo{
                margin-left: auto;
                margin-right: auto;
                width: 70px;
                height: 70px;
                border-radius: 35px;
                border: solid 1px #220e1a;
                text-align: center;
                line-height: 70px;
                color: #220e1a;
                font-size: 1.4em;
            }

            .circle-logo:hover{
                color:#76474f;
            }

            h3{
                text-align: center;
                top: 60vw;
                font-size: 2vw;
            }

            h3:hover{
                color:#76474f;
            }

            .square-container{
                background-color: white;
                width: 32vw;
                height: 32vw;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                top: -12vw;
                margin-bottom: -32vw;

            }

            .bottom-page-logo-line{
                position: relative;
                margin-bottom: -33vw;
            }
        }
    }
}

