<div class="col-xs-1"></div>
<div class="col-xs-10 about-page">

    <img src="/images/chairs.jpg">

    <div class="ecard">
        <h5>Julia Hentz</h5>
        <p>26 years old</p>
        <p>Designer, web-developer, HR professional</p>
        <br/>
        <p>Working as a designer since 2009</p>
        <p>Started web-development in 2014</p>
        <p>Graduated as HR manager, works as HR Assistant</p>
        <br/>
        <p>Travelled the world as a youth-worker</p>
        <p>Lead workshops, organised international projects</p>
        <p>Is passionate about making a change</p>
    </div>

    <div class="skill-card">
        <h5>Adobe InDesing</h5>
        <div class="line"></div>
        <h5>Adobe Illustrator</h5>
        <div class="line"></div>
        <h5>Adobe Photoshop</h5>
        <div class="line" style="width: 24vw"></div>
        <h5>Adobe Animate</h5>
        <div class="line" style="width: 20vw"></div>
<br/>
        <h5>HTML, CSS</h5>
        <div class="line" style="width: 20vw"></div>
        <h5>AngularJS</h5>
        <div class="line" style="width: 24vw"></div>
        <h5>Jquery</h5>
        <div class="line" style="width: 20vw"></div>
        <h5>NodeJS</h5>
        <div class="line" style="width: 24vw"></div>
        <h5>RESTful Services</h5>
        <div class="line" style="width: 20vw"></div>
        <br/>
    </div>


</div>
<div class="col-xs-1"></div>
